/* SearchablePatientTable.css */

.PatientTableSearch {
    margin-bottom: 20px;
  }
  
  .PatientTableSearch input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    max-width: 100%;
  }
  
  .PatientTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .PatientTable th, .PatientTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .PatientTable th {
    background-color: #f7f7f7;
    font-weight: bold;
  } 

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    width: 50%;
    max-width: 300px; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
  }